<div class="page-header">
  <h1>Puzzle Store</h1>
</div>


<div class="panel panel-default">
  <div class="panel-body">

<p *ngIf="!products"><em>Loading...</em></p>

<h2>Select a product...</h2>
<ul class="products list-group">
  <li class="list-group-item" *ngFor="let product of products"
   (click)="onSelect(product)">
    <span class="badge">{{product.price | currency}}</span>
    {{product.name}}
  </li>
</ul>

<div *ngIf="selectedProduct">
  <h2>{{selectedProduct.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedProduct.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedProduct.name" placeholder="name">
    </label>
  </div>

</div>
  </div>
</div>


