<p *ngIf="!products"><em>Loading...</em></p>

<h2>Select a product...</h2>
<div class="card">
  <div class="card-body" *ngFor="let product of products"
  [class.selected]="product === selectedProduct">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.price}}</p>
    <a href="#" class="btn btn-primary" (click)="onSelect(product)">Add to cart</a>
  </div>
</div>

<div *ngIf="selectedProduct">
  <h2>{{selectedProduct.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedProduct.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedProduct.name" placeholder="name">
    </label>
  </div>

</div>
